<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p id="imageprofile">
  <strong>Icon:</strong>
  <%= image_present(@group.icon)  %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>


    <%= form_for(@group.sales.new, url: group_sales_path(@group)) do |form| %>
      <%= form.text_field :title, placeholder: 'Add new Title' %>
      <%= form.file_field :picture, placeholder: 'Add new Image' %>
      <%= form.text_field :description, placeholder: 'Add new Description' %>     
      <%= form.number_field :amount, placeholder: 'Add new Amount' %>
      <%= form.date_select :date, placeholder: 'Add new Title' %>
      <%= form.submit 'Create saleeeee'%>
    <% end %>