<div class='subtitle'>
  <p><%=@group.name %></p>
</div>

<div class='goals'>
  
  <div class='goalsitem1 groupshowimage'>
    <%= @group.user.name%>
    <%= image_present(@group.icon)  %>
  </div> 
  <div class='goalsitem2'>
    <%= @group.sales.count %>
  </div>
</div>



<div class='sales'>
  <% @group.sales.each do |sale| %>
      <div class='sales-container'>
        <div class='sales-item sales1' id="imageprofile"><%= image_present(sale.picture)  %></div>      
        <div class='sales-item sales2' >
          <%= link_to sale.title, sale %>
          <%= sale.date %>
        </div>   
        <div class='sales-item sales3'><%= sale.amount %></div>
      </div>
  <% end %>
</div>


<div class='discenter backlink'>
  <%= link_to 'Edit', edit_group_path(@group) %> |
  <%= link_to 'Back', groups_path %>
  <%= link_to 'Destroy', @group, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>