<section class='users-section'>
  <article class="mainmenu">
    <div class="menu">
      <div class="menu-item">
        <%= link_to 'See Profile',  user_path(current_user), class: 'profile-link' %>
      </div>
      <div class="menu-item">
        <%= link_to 'All Sales', sales_path %>
      </div>        
      <div class="menu-item">
        <%= link_to 'All my external transaccions ', external_path %>
      </div>        
      <div class="menu-item">
        <%= link_to 'All Groups', groups_path %>
      </div>
      <div class="menu-item">
        <%= session_links(current_user)%>
      </div>
    </div>  
  </article>
</section>