<div class='subtitle'>
  <p>All Sales</p>
</div>
<div class='goals'>
  <div class='goalsitem1'>
    Total amount
  </div> 
  <div class='goalsitem2'>
     $<%= goals(@sales) %>
  </div>  
</div>
<div class='sales'>
  <% @sales.each do |sale| %>
      <div class='sales-container'>
        <div class='sales-item sales1' id="imageprofile"><%= image_present(sale.picture)  %></div>      
        <div class='sales-item sales2' >
          <%= link_to sale.title, sale %>
          <%= sale.date %>
        </div>   
        <div class='sales-item sales3'><%= sale.amount %></div>
      </div>
  <% end %>
</div> 
<div class='newsale discenter'>
  <div class='newsaleitem discenter'>
    <%= link_to 'New Sale', new_sale_path %>
  </div>
</div>