<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @sale.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sale.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @sale.amount %>
</p>

<p id="imageprofile">
  <strong>Image:</strong>
  <%= image_present(@sale.picture) %>
</p>

<p>
  <strong>Date:</strong>
  <%= @sale.date %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
<%= link_to 'Destroy', @sale, method: :delete, data: { confirm: 'Are you sure?' } %>