<!DOCTYPE html>
<html>
  <head>
    <title>Sales</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="nav">
      <div class="menu">
        <div class="menu-item">
          <%= link_to 'HOME', root_path %>
        </div>
        <div class="menu-item">
          <%= link_to 'All users', users_path %>
        </div>        
        <div class="menu-item">
          <%= link_to 'All Clients', clients_path %>
        </div>
        <div class="menu-item">
          <%= link_to 'All Sales', sales_path %>
        </div>
        <div>
          <%= session_links(current_user)%>
        </div>
      </div>
      
    </nav>
    <%= yield %>
  </body>
</html>
